.Cards{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    /* flex-wrap: wrap;
    overflow: auto; */
    background-image: url('http://cdn.statically.io/img/wallpapercave.com/wp/wp2930878.jpg');
    background-size: cover;
}
.ankap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}